<!DOCTYPE html>
<html>
<head>
    <title>Детали поста</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">{{ object.headline }}</h1>
    {% if object.image %}
    <img src="{{ object.image.url }}" alt="Thumbnail" class="bd-placeholder-img card-img-top" style="width: 35%; height: 35;">
    {% else %}
    <img src="/path/to/default/image.jpg" alt="No Image Available" class="bd-placeholder-img card-img-top" style="width: 100%; height: auto;">
    {% endif %}
    <p>{{ object.contents }}</p>
    <p>Создано: {{ object.created_at }}</p>
    <a href="{% url 'blog:blog_edit' object.pk  %}" class="btn btn-secondary">Редактировать</a>
    <a href="{% url 'blog:blog_delete' object.pk %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'blog:blog_list' %}" class="btn btn-primary">Вернуться к списку</a>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>