{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="Thumbnail" class="bd-placeholder-img card-img-top" style="width: 100%; height: auto;">
                    {% else %}
                    <img src="/path/to/default/image.jpg" alt="No Image Available" class="bd-placeholder-img card-img-top" style="width: 100%; height: auto;">
                    {% endif %}
                    <p class="card-text">Категория: {{ object.category }}</p>
                    <p class="card-text">{{ object.name }}</p>
                    <p class="card-text">{{ object.description }}</p>
                    <p class="card-text">{{ object.price }}руб</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'catalog:product_list' %}" class="btn btn-primary">Вернуться к списку</a>
                            <a href="{% url 'catalog:product_edit' object.pk  %}" class="btn btn-secondary">Редактировать</a>
                            <a href="{% url 'catalog:product_delete' object.pk %}" class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}